In [ ]:
#Data Types
#int
#float
#Boolean
#char
#String
#

In [8]:
#integers
a=35
print("'",a,"'"," data type is :",type(a))

' 35 '  data type is : <class 'int'>

In [9]:
#float
b=2389.23
print("'",b,"'"," data type is :",type(b))

' 2389.23 '  data type is : <class 'float'>

In [10]:
#String
myName = "Your Name"
print("'",myName,"'"," data type is :",type(myName))

' Your Name '  data type is : <class 'str'>

In [13]:
#boolean
is_True = True
print("'",is_True,"'"," data type is :",type(is_True))

' True '  data type is : <class 'bool'>

In [15]:
bool_func_variable = bool()
print(bool_func_variable)

False

In [16]:
f1=1
f2=1
print(type(f1==f2))

<class 'bool'>

In [17]:
#common errors
result = "Hello" + 5

TypeError: can only concatenate str (not "int") to str

In [19]:
result = "Hello"+str(5)
print(result)

Hello5