In [6]:
#map function -- applies a given function to all items in an input and return a map object

#syntax

#map(function,iterable)


def squares(num):
    return num**2

numList = [2,3,1,4,5,2]

print(list(map(squares,numList)))

[4, 9, 1, 16, 25, 4]

In [12]:
#lambda with map

print(list(map((lambda x:x**2),numList)))

[4, 9, 1, 16, 25, 4]

In [13]:
#map -- multiple iterables
num1 = [1,2,3,4]
num2 = [4,5,6,8]

#add elements in list1 and list2

print(list(map(lambda x,y:x+y, num1,num2)))

[5, 7, 9, 12]

In [1]:
#Convert list of string to integers using map
str_nums = ['1','2','21','33','44']

int_nums  = list(map(lambda x:int(x),str_nums))
print(int_nums)

[1, 2, 21, 33, 44]

In [4]:
#convert to uppercase for the items in the list of strings
w = ['apple','banana','teA2','21']
#w_upper = list(map(lambda x:x.upper(),w))
w_upper = list(map(str.upper,w))
print(w_upper)

['APPLE', 'BANANA', 'TEA2', '21']