# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [8]:
#Create a tuple with the first 10 positive integers. Print the tuple.
tw = []
for i in range(1,11):
    tw.append(i)
tp =tuple(tw)
print(tp)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
#Print the first, middle, and last elements of the tuple created in Assignment 1.
print(tp[0])
print(tp[5])
print(tp[-1])

In [9]:
#Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.
print(tp[:4])
print(tp[7:])
print(tp[2:6])

(1, 2, 3, 4)
(8, 9, 10)
(3, 4, 5, 6)

In [4]:
#Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [5]:
#Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.
t1 = (1, 2, 3)
t2 = (4, 5, 6)
print(t1+t2)

(1, 2, 3, 4, 5, 6)

In [14]:
#Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.
tow = (1,2,4,2,1,1,4,1,2,3,5,4,3,2,4,4,2,4,2,6,4)
print(f"COunt of 2 in tuple is {tow.count(2)}")
print(f"COunt of 4 in tuple is {tow.count(4)}")
print(f"COunt of 1 in tuple is {tow.count(1)}")

COunt of 2 in tuple is 6
COunt of 4 in tuple is 7
COunt of 1 in tuple is 4

In [15]:
#Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.
tow1 = (1,2,4,2,11)
a,b,c,d,e = tow1
print(a,end = "--")
print(b,end = "--")
print(c,end = "--")
print(d,end = "--")
print(e)

1--2--4--2--1

In [16]:
#Convert a list of the first 5 positive integers to a tuple. Print the tuple.
ld = []
for i in range(1,6):
    ld.append(i)
t_ld = tuple(ld)
print(t_ld)

(1, 2, 3, 4, 5)

In [17]:
#Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.
trr = ((1,2,3),(4,5,6),(7,8,9))
print(trr)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [18]:
#Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.
tf = (23,4,6,3,22)
tf_l = list(tf)
tf_l.append(78)
tf = tuple(tf_l)
print(tf)

(23, 4, 6, 3, 22, 78)

In [24]:
#Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.
t_string = ('h','e','l','l','o')
print(t_string[0]+t_string[1]+t_string[2]+t_string[3]+t_string[4])

hello

In [20]:
#Create a dictionary with tuple keys and integer values. Print the dictionary.

In [25]:
#Create a nested tuple and iterate over the elements, printing each element.
nestedTuple = ((1,2),("Hi","There"),(True,False,"GHj",109,"fhd",3,5,23,56))
for ij in nestedTuple:
    for k in ij:
        print(k,end =" ")
    print()

1 2
Hi There
True False GHj 109 fhd 3 5 23 56

In [26]:
#Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.
ow = (1,2,4,2,1,1,4,1,2,3,5,4,3,2,4,4,2,4,2,6,4)
ow_set = set(ow)
print(ow_set)

{1, 2, 3, 4, 5, 6}

In [28]:
#Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.
ow = (1,2,4,2,1,1,4,1,2,3,5,4,3,2,4,4,2,4,2,6,4)
min_ow = 0
max_ow = 0
su = 0
for i in ow:
    if i>max_ow:
        max_ow = i
    if i<min_ow:
        min_ow = i
    su = su + i
print(f"Minimum : {min_ow}")
print(f"Maximum : {max_ow}")
print(f"Sum : {su}")

Minimum : 0
Maximum : 6
Sum : 61